 * {
     padding: 0;
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
     box-sizing: border-box;
     word-wrap: break-word;
 }
 body,
 html {
     scroll-behavior: smooth;
     background:white;
     background-attachment: fixed;
 }

 /* header */
 #header,
 #navbar {
     background:#020264;
     color: white;
 }
 #header {
     display: flex;
     justify-content: start;
     align-items: center;
     padding: 10px 16px;
     gap:10px;

 }
 #header  #alive{
    display:flex;
    justify-content: center;
    align-items:center;
    height:8px;
    width:8px;
    border-radius: 50%;
    background: #13f413;
    animation: alive 1s ease-in-out 1s infinite;
 }
 @keyframes alive {
    to{
        opacity: 1;
    }
    from{
        opacity: 0;
    }
 }
 /* navbar */
 #navbar {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 16px;
     gap: 50px;
 }
 #navbar .navbar-items ul {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;
     list-style-type: none;
     padding: inherit;
 }
 a {
     text-decoration: none;
     color: white;
     font-weight: bolder;
 }
 /* main  */
 #main {
     padding:40px;
 }
 /* section  */
 .section {
     padding:25px 10px;
     text-align: center;
     border-radius: 50px;
     background-color: rgba(2, 2, 100,0.1);
 }
 .section p::first-letter{
    font-size: 20px;
    font-weight: bolder;
 }
 /* educationWeb  */
 #educationWeb{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px 0px;
    padding:0px 20px;
 }
 #educationWeb #sites{
    display:flex;
    /* grid-template-columns: repeat(8,1fr); */
    justify-content: center;
    align-items: center;
    gap:50px;
    overflow-x: scroll;
    padding:10px 0px;
 }
 #educationWeb #sites::-webkit-scrollbar
 {
    display:none;
 }
 #educationWeb .site{ 
    width:80px;
    height:80px;
    border: 1px solid gray;
    display:flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 /* contact-information  */
 #contact-information {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap:5px;
     position: fixed;
     right: 10px;
     bottom:75px;

 }
#contact-information div{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15px;
    background: #020264; 
    border-radius:25px 25px 25px 0px;
    backdrop-filter: blur(1.5);
}
 #contact-information div a i {
     font-size: 25px;
 }
  /* classes  */
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(2, 2, 100,0.1);
    margin:20px 0px;
    padding:20px 10px;
    border-radius:50px;
}
.container .subjects
{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:25px;
    justify-content: center;
    align-items: center;
    margin:20px 0px;
}
.container .subjects .card{
    padding:10px;
    text-transform:capitalize;
    box-shadow: 0px 0px 2px rgb(36, 35, 35);
    border-radius:8px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
    backdrop-filter:blur(1.5);
    background: white;
    border-top: 3px solid #020264;
}
.fontSize{
    font-size: 80px;
}
.container .subjects .card  button{
    width:100%;
    padding:10px;
    border:none;
    outline:none;
    background:#020264;
    color:white;
    border-radius: inherit;
    cursor: pointer;
}

 /* contact us  */
 #form-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    background-color: rgba(2, 2, 100,0.1);
    border-radius: 50px;

 }
 #form-container form{
    padding:40px;
    width:40%;
    height:auto;
    box-shadow: 0px 0px 2px gray;
    margin:16px 0px;
    background: white;
    border:1px solid gray;
    border-radius: 20px;
    backdrop-filter:blur(1.5);
 }
 #form-container form input[type="text"]
 ,#form-container form input[type="email"]{
    width:100%;
    height:35px;
    padding: 0px 10px;
    font-size:16px;
 } 
 #form-container form textarea{
    width:100%;
    padding:5px 10px;
    height:80px;
    font-size:16px;
 }
  #form-container form input[type="submit"]{
    width:100%;
    height:35px;
    background: darkblue;
    color:white;
    border:none;
    outline:none;
    border-radius: 3px;
    cursor: pointer;
 }
 /* footer  */
 #footer {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 30px 10px;
     background-color:#0f111a;
     color: white;
 }
 #footer #footer-contents p {
     margin: 10px 0px;
 }
 @media screen and (min-width:769px) and (max-width:1000px) {
     .container .subjects
    {
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    margin:20px 0px;
}
     }
 @media screen and (max-width:768px) {
     #navbar {
         flex-direction: column;
         gap: 15px;
     }
     #navbar .navbar-items ul {
         gap: 20px;
     }
     #form-container form{
        width:80%;
     }
     .container .subjects{
        grid-template-columns:repeat(2,1fr);
        gap:20px;
     }
     /* #educationWeb #sites{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:20px;
     } */
 }
