 * {
     padding: 0;
     margin: 0;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     box-sizing: border-box;
     word-wrap: break-word;
 }

 body,
 html {
     scroll-behavior: smooth;
     background-attachment: fixed;
 }

 /* header */
 #header,
 #navbar {
     background: #020264;
     color: white;
     z-index: 1000;
 }

 #header {
     display: flex;
     justify-content: start;
     align-items: center;
     padding: 10px 20px;
     gap: 10px;
     background: #020264;

 }

 #header #alive {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 8px;
     width: 8px;
     border-radius: 50%;
     background: #28a745;
     animation: alive 1s ease-in-out 1s infinite;
 }

 @keyframes alive {
     to {
         opacity: 1;
     }

     from {
         opacity: 0;
     }
 }

 /* navbar */
 #navbar {
     height: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
     gap: 50px;
     position: sticky;
     top: 0;
 }
#navbar #logo{
    width:50px;
    height:50px;
    border-radius: 50%;
    backdrop-filter:blur(1.5);
    overflow: hidden;
    border: 2px solid white;
 }
 #navbar #logo img{
    width:100%;
    height:100%;
    filter: contrast(1.5);
    object-fit: contain;
 }
 #navbar .navbar-items ul {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;
     list-style-type: none;
     padding: inherit;
 }

 #navbar .navbar-items.active {
     height: 300px;
 }

 #navbar #menu-icon,#navbar #logo{
     display: none;
     font-size: 30px;
     font-weight: bolder;
     line-height: 60px;
 }

 a {
     text-decoration: none;
     color: white;
     font-weight: bolder;
 }


 /* main  */
 #main {
     padding: 40px;
 }

 #main .page-title {
     text-align: center;
     font-size: 42px;
     font-weight: bolder;
     text-shadow: 0px 0px 5px gray;
 }

 #cta-btn center>button {
     padding: 15px 25px;
     outline: none;
     border: none;
     background: #020264;
     border-radius: 25px;
     font-size: 20px;
     cursor: pointer;
 }

 /* section  */
 .section {
     padding: 25px 20px;
     border-radius: 60px 0px 60px 0px;
     background-color: #020264;
     color: white;
     margin-top: 20px;
 }

 .section p::first-letter {
     font-size: 20px;
     font-weight: bolder;
 }

 /* educationWeb  */
 #educationWeb {
     padding: 0px 25px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #educationWeb #sites {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 30px;
     overflow-x: scroll;
     padding: 10px 0px;

 }

 #educationWeb #sites .site {
     width: 80px;
     height: 80px;
     box-shadow: 0px 0px 2px gray;
     backdrop-filter: blur(1.5);
     border: 1px solid #020264;
     border-radius: 50%;
     overflow: hidden;
     animation: scroll 15s linear infinite;
 }

 @keyframes scroll {
     from {
         transform: translateX(1100px);
     }

     to {
         transform: translateX(-1100px);
     }
 }

 #educationWeb #sites:hover .site {
     animation-play-state: paused;
 }

 #educationWeb #sites .site img {
     width: 100%;
     height: 100%;
     filter: contrast(1.2);
     object-fit: contain;
 }

 #educationWeb #sites::-webkit-scrollbar {
     display: none;
 }

 /* contact-information  */
 #contact-information {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 10px;
     position: fixed;
     right: 10px;
     bottom: 80px;
     z-index: 1000;
 }

 #contact-information div {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5px;
     box-shadow: 0px 0px 2px gray;
     background: #020264;
     border-radius: 50px 50px 50px 0px;
     backdrop-filter: blur(1.5);
 }

 #contact-information div img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     filter: contrast(1.2);
     object-fit: contain;

 }

 #contact-information div a i {
     font-size: 25px;
 }

 /* classes  */
 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: #020264;
     color: white;
     margin: 20px 0px;
     padding: 20px 10px;
     border-radius: 50px;
 }

 .container .subjects {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     gap: 15px;
     justify-content: center;
     align-items: center;
     margin: 20px 0px;
 }

 .container .subjects .card {
     padding: 10px;
     text-transform: capitalize;
     box-shadow: 0px 0px 2px rgb(36, 35, 35);
     border-radius: 8px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 5px;
     backdrop-filter: blur(1.5);
     background: white;
     color: black;
     border-top: 3px solid #020264;
 }

 .card:hover {
     transform: translateY(-6px);
     transition: 0.3s;
 }

 .fontSize {
     font-size: 80px;
 }

 .container .subjects .card>button {
     width: 100%;
     padding:8px 15px;
     border: none;
     outline: none;
     background: #020264;
     color: white;
     border-radius: inherit;
     cursor: pointer;
 }

 /* contact us  */
 #form-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 20px;
     background-color: rgba(2, 2, 100, 0.1);
     border-radius: 50px;

 }

 #form-container form {
     padding: 40px;
     width: 40%;
     height: auto;
     box-shadow: 0px 0px 2px gray;
     margin: 16px 0px;
     background: white;
     border: 1px solid gray;
     border-radius: 20px;
     backdrop-filter: blur(1.5);
 }

 #form-container form input[type="text"],
 #form-container form input[type="email"] {
     width: 100%;
     height: 35px;
     padding: 0px 10px;
     font-size: 16px;
 }

 #form-container form textarea {
     width: 100%;
     padding: 5px 10px;
     height: 80px;
     font-size: 16px;
 }

 #form-container form input[type="submit"] {
     width: 100%;
     height: 35px;
     background: darkblue;
     color: white;
     border: none;
     outline: none;
     border-radius: 3px;
     cursor: pointer;
 }

 /* footer  */
 #footer {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 30px 10px;
     background-color: #0f111a;
     color: white;
     flex-direction: column;
 }

 #footer #footer-contents p {
     margin: 10px 0px;
 }

 @media screen and (min-width:769px) and (max-width:1000px) {
     .container .subjects {
         grid-template-columns: repeat(3, 1fr);
         gap: 25px;
         margin: 20px 0px;
     }
 }

 @media screen and (max-width:768px) {
     #navbar {
         justify-content:space-between;
     }

     #navbar #menu-icon,#navbar #logo {
         display: block;
         cursor: pointer;
     }

     #navbar .navbar-items {
         position: absolute;
         width: 100%;
         height: 0px;
         padding: 5px 0px;
         top: 100%;
         left: 0;
         overflow: hidden;
         background: #020264;
         transition: height 1s ease;
     }

     #navbar .navbar-items ul {
         flex-direction: column;
         gap: 0;
     }

     #navbar .navbar-items ul li {
         width: 100%;
         height: 35px;
         padding: 0px 30px;
         line-height: 30px;
         box-shadow: 0px 0px 2px gray;
     }
     #navbar .navbar-items ul li:hover{
        background: #002300;
     }

     #form-container form {
         width: 90%;
     }

     .container .subjects {
         grid-template-columns: repeat(2, 1fr);
         gap: 20px;
     }
 }



